    <footer>
        <section>
            <div class="container">
                <nav class="nav justify-content-center">
                    <a class="nav-link" href="{{ path_for('home') }}">Home</a>
                </nav>
            </div>
        </section>
    </footer>